.logout-page-component{
    position: absolute;
    top: 30%;
    left: 32%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.logout-heading{
    font-size: 3rem;
    color: var(--primary-color);
}

.btn-logout{
    position: absolute;
    left: 33%;
}