.cart-card{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    line-height: 4.7;
    text-align: center;
}
.cart-btn{
    height: 20%;
    margin-top: 7%;
}
.cart-image{
    width: 100%;
    height: 100%;
}
.cart-item-align{
    margin-top: 5%;
}
.cart-container{
   margin-left: 10%;
}
.card-items-number{
    display: flex;
}
.cart-items-button{
    width: 100%;
    height: 20%;
    font-size: 2.5rem;
    margin-top: 7rem;
    background: var(--primary-color);
    color: var(--white);
    width: 5rem;
    border: none;
}
.cart-item-number-text{
    margin-top: 3.1rem;
    color: var(--primary-color);
    padding: 1rem;
}
.total-price{
    margin-top: 5.1rem;
}
.btn-gap{
    margin-right: 1rem;
}