.main-menu1{
    top: 7%;
    height: 100%;
    width: 15%;
    text-align: start;
    font-size: 1.5rem;
    color: var(--primary-color);
}
.sidebar-margin{
    margin-top: 3rem;
}
.sidebar-components-margin{
    margin-left: 2rem;
    text-decoration: none;
    list-style: none;
}
.btn-clear{
    background-color: none ;
    font-size: 2rem;
    margin-left: 50%;
}
@media only screen and (max-width: 500px) {
    .main-menu1{
        width: 41%;
        font-size: 1rem;
    }
  }